<%= form_for @idea do |f| %>

  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@idea.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @idea.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, size: "40x15" %>
  </p>

  <p>
    <%= f.label :idea %><br>
    <%= f.text_area :text, size: "40x15" %>
  </p>

  <p>
    <%= f.select :idea_type, [['great idea', 0], ['random idea', 1], ['scrapped idea', 2]] %>
  </p>


  <p>
    <%= f.submit %>
  </p>

<% end %>
