<nav>
  <ul>
  <li><%= link_to 'New Idea', new_idea_path %></li>
  <li><%= link_to 'View All Ideas', ideas_path %></li>
  <li><%= link_to 'Great Ideas', new_idea_path %></li>
  <li><%= link_to 'Random Ideas', new_idea_path %></li>
  <li><%= link_to 'Scraped Ideas', new_idea_path %></li>
</nav>


<h1>View All Of Your Ideas</h1>

<table>
  <!-- <tr>
    <th>Idea Title</th>
    <th>Idea Text</th>
  </tr> -->

  <% @ideas.each do |idea| %>
    <tr>
      <td class="title-box"><%= idea.title %></td>
      <td class="text"><%= idea.text %></td>
      <!-- <td><%= link_to 'Show', idea_path(idea) %></td>
      <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
      <td><%= link_to 'Destroy', idea_path(idea),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td> -->
   </tr>
  <% end %>
</table>


<!-- <%= link_to 'New idea', new_idea_path %>
