<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'New Idea', new_idea_path %></li>
    <li><%= link_to 'View All Ideas', ideas_path %></li>
    <li><%= link_to 'Great Ideas', great_ideas_path %></li>
    <li><%= link_to 'Random Ideas', random_ideas_path %></li>
    <li><%= link_to 'Scrapped Ideas', scrapped_ideas_path %></li>
</ul>
</nav>

<h1>Scrapped Ideas</h1>

<div class="box">
  <div class="display">
  <% @ideas.each do |idea| %>
      <p class="title-box"><%= idea.title %><br>
      <%= link_to 'Show', idea_path(idea) %></p>
  <% end %>
     </div>
   </div>
