
<h1>Sign Up Here For Great Ideas!</h1>
<div class="left">
<h1 class="user">Login</h1>

<center><%= form_tag '/login' do %>

  Email: <br>
  <%= text_field_tag :email %><br>
  Password:<br>
  <%= password_field_tag :password %><br>
  <%= submit_tag "Submit" %>

<% end %></center>

<!-- <%= link_to 'Back', root_path %> -->
</div>

<div class='right'>
<h1 class="user"> Sign Up For Free!</h1>
<center><%= form_for :user, url: '/users' do |f| %>

  Name: <br>
  <%= f.text_field :name %><br>
  Email: <br>
  <%= f.text_field :email %><br>
  Password: <br>
  <%= f.password_field :password %><br>
  Password Confirmation: <br>
  <%= f.password_field :password_confirmation %><br>
  <%= f.submit "Submit" %>

<% end %></center>
</div>
